<div class="header">
    <div class="logo">
        <h2>Logo Fitness Club</h2>	
    </div>
    <div class="menu-icon">
        <button class="btn"><i class="fa fa-bars"></i></button>
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="/membership">MEMBERSHIP</a></li>
            <li><a routerLink="/services">SERVICES</a></li>
            <li><a routerLink="/facilities">FACILITY</a></li>
            <li><a routerLink="/about">ABOUT</a></li>
        </ul>
    </div>
    <div class="menu-item">
        <a href="#">Join Now</a>
    </div>

</div>