<div class="footer">
    <div class="f-item1">
        <h2>Fitness Club.</h2>	
        <p>500 A-138 sector-64 near By Fortis Hospital, Noida, India 
            info@mysite.com
            123-456-7890</p>
    </div>
    <div class="f-item2">
        <h2>Not a Member? Get a 45 Day Free-Trial</h2>
        <p>Fill out the form below and a sales rep will get in touch shortly.</p>
        <div class="contact-form">
            
        </div>					
    </div>
    <div class="f-item3">
        <h2> Menu.</h2>
        <ul>
            <li><a href="#">Home</a></li>	
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Membership</a></li>
        </ul>		
    </div>
</div>
