

<div class="container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="first-sec">
            <h1> Welcome To Fitness World Family</h1>
            <p>I'm a paragraph. Click here to add your own text and edit me. 
                It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. 
                I’m a great place for you to tell a story and let your users know a little more about you.</p>
            <button class="btn">Join Now</button>
    </div>
    <div class="second-sec">
        <div class="img2-text">
            <h2>Fitness world Experiences</h2>
            <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let 					your users know a little more about you.</p>
            <button class="btn">Learn More</button>
        </div>
        <div class="img2-block">
            <img src="../../assets/imgs/pic2.jpg" class="img2">
        </div>
        <div class="img3-block">
            <img src="../../assets/imgs/pic3.jpg" class="img3">	
        </div>
        <div class="img3-text">
            <h2>Fitness Is for Everyone</h2>
            <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</p>
            <button class="btn">Reserve a spot</button>
        </div>
    </div>
    
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>


