
<div class="container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="first-sec">
        <h1> Select a Membership</h1>
        <p>I'm a paragraph. Click here to add your own text and edit me. 
            It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. 
            I’m a great place for you to tell a story and let your users know a little more about you.</p>
        <button class="btn">Join Now</button>
    </div>
    <div class="plan">
        <div class="card card-1">
            <div class="header-card">
                <h2>Base Plan</h2>
                <h3>$ 15</h3>
                <button class="btn">Select Plan</button>
            </div>
            <div class="features">
                <ul>
                    <li>Feature of this plan No 1.</li>
                    <li>Feature of this plan No 2.</li>
                    <li>Feature of this plan No 3.</li>
                    <li>Feature of this plan No 4.</li>
                    <li>Feature of this plan No 5.</li>
                </ul>
            </div>
        </div>
        <div class="card card-2">
            <div class="header-card">
                <h2>Gold Plan</h2>
                <h3> $ 44/ per Month</h3>
                <button class="btn">Select Plan</button>
            </div>
            <div class="features">
               <ul>
                   <li>Feature of this plan No 1.</li>
                   <li>Feature of this plan No 2.</li>
                   <li>Feature of this plan No 3.</li>
                   <li>Feature of this plan No 4.</li>
                   <li>Feature of this plan No 5.</li>
               </ul>
            </div>
        </div>
        <div class="card card-3">
            <div class="header-card">
                <h2>Premium Plan</h2>
                <h3>$ 99/ per Month</h3>
                <button class="btn">Select Plan</button>
            </div>
            <div class="features">
                <ul>
                    <li>Feature of this plan No 1.</li>
                    <li>Feature of this plan No 2.</li>
                    <li>Feature of this plan No 3.</li>
                    <li>Feature of this plan No 4.</li>
                    <li>Feature of this plan No 5.</li>
                </ul>
             </div>
        </div>
    </div>
    
    	
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>


